{
    "gameparam_path": "C:/Program Files (x86)/Steam/steamapps/common/DARK SOULS REMASTERED/param/GameParam/GameParam.parambnd.dcx",
    "backup_path": "C:/Program Files (x86)/Steam/steamapps/common/DARK SOULS REMASTERED/param/GameParam/GameParam.parambnd.dcx.bak"
}